services:
  builder:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - type: bind
        source: .
        target: /app
    working_dir: /app
    command: ["cargo", "run"]
